*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.brand-logo{
    display: flex !important;
    align-items: center;
    height: 100%;
}

.brand-logo img{
    height: 40px;
}

.hero{
    min-height: 90vh;
    background-image: url("../img/imagen-hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.hero h1{
    font-size: 40px;
    font-weight: 700;
}

.hero p{
    font-size: 14px;
    max-width: 500px;
    padding-bottom: 20px;
}

.hero-sutitulo{
    color: #8b5a2b;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;

}

.input-field {
    margin-top: 30px;
    margin-bottom: 15px;
}

#btn-submit {
    margin-top: 100px;
    color:#8b5a2b
}

#formulario input[type=text],
#formulario input[type=email],
#formulario input[type=number],
textarea.materialize-textarea,
.select-wrapper .dropdown-content {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    background-color: #fdfdfb;
    box-shadow: none !important;
    box-sizing: border-box;
}

#formulario input[type=text],
#formulario input[type=email],
#formulario input[type=number],
textarea.materialize-textarea,
.select-wrapper input.select-dropdown {
    padding: 16px;
    height: 48px;
}

.select-wrapper .dropdown-content li, 
.select-wrapper .dropdown-content li span {
    height: 47px;
    min-height: 47px;
    line-height: 47px;
    padding-top: 0;
    padding-bottom: 0;
    color: #8b5a2b;
    clip-path: margin-box;
}

textarea.materialize-textarea {
    min-height: 100px;
    padding: 12px 16px !important;
}

#formulario .input-field > label.active {
    transform: translateY(-28px);
    color: #333333;
    font-weight: 600;
    left: 0;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
textarea.materialize-textarea:focus,
.select-wrapper .dropdown-content {
    border: 1px solid #a5a5a5 !important;
}

/* --- Integración de blends y Tabla de Precios  --- */
.row { display: flex; flex-wrap: wrap; align-items: stretch; }
.col { display: flex; }

/* Esto fuerza a que el fondo del modal sea blanco siempre */
.modal {
    background-color: #ffffff !important;
    color: #333333 !important;
}

/* Esto le da un poco de sombra para que resalte */
.modal.open {
    display: block !important;
}

.btn-cerrar-preview {
    background-color: transparent;
    color: #d4b295;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
}

.tabla-precios { border: 2px solid #5d4037 !important; border-collapse: collapse; width: 80%;margin: 40px auto; }
.tabla-precios th { background-color: #5d4037 !important; color: white !important; padding: 15px !important; }
.tabla-precios td { border-bottom: 1px solid #d7ccc8 !important; padding: 12px !important; }

/* Agregamos un borde a la derecha a las columnas del footer */
.page-footer .col {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  /* Para que la última columna NO tenga línea*/
  .page-footer .col:last-child {
    border-right: none;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Para que el main se expanda para ocupar el espacio libre */
main {
    flex: 1;
}